<div class="modal fade" id="winModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Congratulations!</h4>
            </div>
            <div class="modal-body">
                <div class="container" >
                    You are a winner!
                    <a href="croc.html" role="button" class="btn btn-sample">Go to lobby</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loseModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Better luck next time!</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    Try again
                    <a href="croc.html" role="button" class="btn btn-sample">Go to lobby</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hostModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Good job!</h4>
            </div>
            <div class="modal-body">
                <div class="container" >
                    Your word has been revealed!
                    <a href="croc.html" role="button" class="btn btn-sample">Go to lobby</a>
                </div>
            </div>
        </div>
    </div>
</div>
