<div class="modal fade" id="winModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Congratulations!</h4>
            </div>
            <div class="modal-body">
                <div class="container" >
                    <a href="drawroll-host.html" role="button" class="btn btn-sample">Host a new game</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loseModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Better luck next time!</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <a href="drawroll-client.html" role="button" class="btn btn-sample">Try again</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hostModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Good job!</h4>
            </div>
            <div class="modal-body">
                <div class="container" >
                    <a href="drawroll-client.html" role="button" class="btn btn-sample">Continue as a client</a>
                </div>
            </div>
        </div>
    </div>
</div>
