<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" >Guess it!</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Games
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-toggle="modal" data-target="#doodlemodal">Doodler</a></li>
                        <li><a href="croc.html">Crocodile</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>

<div class="modal fade" id="doodlemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Game mode</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <a href="drawroll-host.html" role="button" class="btn btn-sample">Host game</a>
                    <a href="drawroll-client.html" role="button" class="btn btn-sample">Join game</a>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>